

.modal-content .nav-tabs>li {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    line-height: 20px;
	text-align: center;
	color: #fff;
    background-color: #fff;
}
.nan .nav-tabs>li.active{background-color: #1a215a;}


.modal-content .nav-tabs li.active>a, .modal-content .nav-tabs li.active>a:focus, .modal-content .nav-tabs li.active>a:hover {
   
    padding: 17px 76px;
}

.modal-content .nav-tabs li>a {
    background-color: #ff7f00;
    color: #fff;
    padding: 17px 69px;
}

.modal-content .nav-tabs li>a.active, .modal-content .nav-tabs li>a:focus, .modal-content .nav-tabs li>a:hover {
    background-color: #1a215a;
    
}
/* .modal-content .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #1a215a;
    border: none;
    border-bottom-color: transparent;
}
.modal-content .nav-tabs>li>a {
    margin-right: 0px;
    line-height: 34px;
    border: none;
    border-radius: 0;
    width: 50%;
}
.modal-content .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    
    
} */